/*css selectors organized in same order as html
tags appear in index.html*/

* {
	border-radius: 4px;
}

body {
	background-image: url(../img/wetgrass.jpg);
	background-size: 75%;
	background-position: center;
	font-family: georgia;
	background-attachment: fixed;
	color: #2A1506;
}

div.container {
	width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	opacity: .9;
	height: 1000px;
	border: 1px solid black;
}

ul {
	margin-right: 40px;
	list-style-type: none;
}

ul li {
	text-decoration: none;
	background-color: #B2B2CC;
	padding: 1%;
	display: inline;
}

a:link, a:visited {
	text-decoration: none;
	color: #330033;
}

a:hover {
	color: #ffffff;
}

a:active {
	color: #1A4C33;
}

header {
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
}

h3#fresno {
	text-align: right;
}

.secondarynav li {
	display: block;
	padding: 0px;
	width: 300px;
	margin: auto;
	text-align: center;
}

section#left {
	padding: 3%;
	width: 400px;
	float: left;
}

section#right {
	padding: 3%;
	width: 400px;
	float: right;
}

footer {
	clear: both;
	text-align: center;
}
